body {
  height: 97vh;
   background-image: url(../assets/task.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}

.card {
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

a {
  text-decoration: none;
}

#scroll::-webkit-scrollbar {
  display: none;
}

#scroll {
  scrollbar-width: none;
}

.task-card {
  min-width: 209px;
  max-width: 349px;
}

@media screen and (min-width: 1400px) {
  .task-card {
    width: 309px;
  }
}

@media screen and (min-width: 2000px) {
  .task-card {
    width: 349px;
  }
}

@media screen and (max-width: 1400px) {
  .task-card {
    width: 209px;
  }
}

@media screen and (min-width: 1280px) {
  .notepad {
    max-width: 100% !important;
  }
}

.MuiDialog-paperScrollPaper{
  display: block !important;
}