#table {
  min-width: 500px;
  min-height: 500px;
  max-width: 500px;
  max-height: 500px;
  background: white;
  /*  display: grid; */
  overflow: auto;
}
#data {
  vertical-align: top;
  max-width: 500px;
  max-height: 500px;
}
